<!DOCTYPE html>
<html lang="en" ng-app="mainApp" ng-controller="RootController as $root">
<head>
    <meta charset="UTF-8">
    <title>{{$root.authorName}}</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <link href="css/welcome.css" rel="stylesheet" type="text/css" >
</head>
<body >
<div ui-view=""></div>

<script src="js/app.js"></script>
<script src="js/main_router.js"></script>
<script src="js/main.js"></script>
<script src="js/welcom_controller.js"></script>
<script src="js/baground.factory.js"></script>
<script>

</script>
</body>

</html>